{% load static %}
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Blog dla programistów</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/budzet.css' %}">
</head>
    <body>
        <div>
            <h1><a href="post_list.html">Witam na stronie bloga!</a></h1>
            <h2>Blog o programowaniu</h2>
            <h3>Autor: gostek231</h3>
            <h4>Wszelkie prawa zastreżone</h4>
        </div>
        {% comment "Komentarz autora %}
        Tutaj lista postow
        {% endcomment %}
        {% for post in posts %}
        <div>
            <p>opublikowany: {{ post.publish_Date }}</p>
            <h2><a href="">{{ post.title }}</a></h2>
            <em>{{ post.text|linebreaksbr }}</em>
        </div>
        {% endfor %}
        <div>

        </div>
</body>
</html>